body {
    font-family: verdana;
    background-color:gainsboro;
}

.button {
    cursor: pointer;
}

button {
    cursor: pointer;
    font-size:100%
}

button:hover {background-color:lightgrey}
button:active {
    background-color:lightgrey;
    transform:translateY(3px);
}

input[type="text" i] {
    font-size:120%
}

input[type="submit" i] {
    font-size:100%;
    font-weight: 550;
    cursor: pointer;
}

.header-line {
    display:inline;
    margin-inline-start: 2px;
    margin-inline-end: 10px;
}

#fav-container {
    outline: 5px;
}

.phonetics {
    font-family: 'Times New Roman', Times, serif;
}

.hidden {
    visibility: hidden;
    font-size: 0px;
  }