.hidden {
    visibility: hidden;
    font-size: 0px;
  }

.button {
    cursor: pointer;
}

.header-line {
    display:inline;
    margin-inline-start: 2px;
    margin-inline-end: 10px;
}

#fav-container {
    outline: 1px;
}